<link rel="stylesheet" href="/CSS/style.css">

<h1>IT Academy</h1>
<h2>Formations disponibles</h2>
<a href="/panier" style="text-decoration: none;"> <input type="submit" name="Panier" value="Voir le panier" id = "button"/> </a>
<input type="submit" name="Connection" value="Se connecter" id = "button"/>

<table>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Prix</th>
    <th>Début</th>
    <th>Fin</th>
  </tr>
  <% for(formationtable of formationDispo) { %>
    <tr>
      <th><%= formationtable.idforma %></th>
      <th><%= formationtable.NomForma %></th>
      <th><%= formationtable.Prix %>€</th>
      <th><%= formationtable.Debut %></th>
      <th><%= formationtable.Fin %> </th>
      <th><a href="/inscription/<%= formationtable.idforma %>"> <input type="submit" name="S'inscrire" value="S'inscrire" id = "button"/></a></th>
    </tr>
  <% } %>
</table>

<!-- <section id="pseudo">
  <form action="/connection" method="POST">
    <input name="pseudo" />
    <input type="submit" name="Enregistrer" value="Enregistrer" />
  </form>
</section> -->

